.container {
    position: relative;
    height: 100%;
    background-color: #848484;
}

.container:hover {
    outline: 10px solid white;
}

.image {
    object-fit: cover;
    object-position: center;
    max-width: 100%;
    height:100%;
}

.container p {
    width: 100%;
    font-family: 'Noto serif bold', sans-serif;
    color: #000;
    background-color: #727272;
    position: absolute;
    bottom: 0;
    font-size: 1.2rem;
    text-align: center;
    padding-top: .6rem;
    height: 4rem;
    margin: 0;
}

.star {
    width: 100%;
    transform: scale(.3);
    background-color: transparent;
    user-select: none;
    position: relative;
    top: -4rem;
    filter: invert();
}

.more-button {
    font-size: 'Noto Serif Bold';
    background-color: #727272;
    position: absolute;
    width: 50%;
    display: block;
    margin: auto;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 1rem;
    color: white;
    z-index: 10;
    bottom:20%;
    left: 50%;
    transform: translate(-50%, -50%);
}