
.content{
    height: 100%;
    margin: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem,1fr));
    place-content: center;
    place-items: center;
}

.pageup {
    width: 100%;
    height: 5rem;
    border: none;
    outline: none;
    background-color: #C4C4C4;
    font-family: 'Noto serif Bold';
    display: block;
    cursor: pointer;
    margin-top: 2rem;
}

@media (min-width: 1023px) {
    .content, .pageup {
        width: 70vw;
        margin-left: auto;
    }

    .content {
        position: relative;
        top: 1rem;
    }

    .pageup {
        margin-right: 1rem;
    }
}

@media (min-width: 1440px) {
    .content, .pageup {
        width: 75%;
    }
}