.searchbox{
  margin-top: 1rem;
  height: fit-content;
  margin-bottom: 3rem;
}

.search {
  background-color: #727272;
  border-radius: 40px;
  display: block;
  margin: auto;
  height: 3rem;
  width: 80%;
  outline: none;
  border: none;
  font-family: 'Noto Serif', sans-serif;
  font-size: 2rem;
  padding: 2rem;
  color: #E3E2E2;
}

.searchbox > p {
    font-family: 'Noto Serif Bold', sans-serif;
    color: #727272;
    text-align: center;
    margin: 0;
}

.switchertext span {
    font-size: 2rem;
}

p.switchertext {
    font-size: 1.6rem;
    display: inline-block;
    margin: 0 0 0 1rem;
}



/* Switcher  */
.switch {
    background-color: transparent;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 3rem;
    margin-top: 1rem;
    transform: scale(1.2);
    border: none;
    outline: none;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #000;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  @media (min-width: 1023px) {
    .searchbox {
      width: 25%;
      height: fit-content;
      position: fixed;
      margin-left: 3rem;
    }

    .search {
     height: 2rem;
     width: 100%;
    }
  }


  @media (min-width: 1440px) {
    .searchbox {
      width: 20%;
    }   
  }